.register-container {
    margin-top: 5% !important;
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: black;
}

h2 {
    text-align: center;
    color: #4CAF50;
}

.form-container {
    margin-top: 20px;
}

.input-field {
    margin-bottom: 15px;
}

.input-field label {
    display: block;
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
}

.input-field input {
    min-width: 220px;
    max-width: 300px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.otp-btn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.otp-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    
}

.otp-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-group div {
    display: flex;
    align-items: center;
}

.checkbox-group label {
    color: white;
    margin-left: 5px;
}

button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

